---
version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
      time: "00:00"
    open-pull-requests-limit: 1
    allow:
      - dependency-name: "org.springframework.boot:spring-boot-starter-parent"
        update-types:
          - "version-update:semver-minor"
          - "version-update:semver-patch"
    labels:
      - "dependencies"
      - "dependabot"
    commit-message:
      prefix: "chore"
      include: "scope"