version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "17:18"
    open-pull-requests-limit: 5
    target-branch: "master"
    groups:
      spring-boot:
        patterns:
          - "org.springframework.boot:spring-boot-starter-parent"
        update-types:
          - "minor"
          - "patch"
    labels:
      - "dependencies"
      - "spring-boot"
      - "automated"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"